# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [26]:
# Import libraries
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
pokemon = pd.read_csv('pokemon.csv')

In [3]:
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [4]:
pokemon_total = ['HP', 'Attack','Defense','Sp. Atk','Sp. Def', 'Speed']
pokemon['totals'] = pokemon[pokemon_total].sum(axis=1)
# It seems column 'Total' is the sum of the above mentioned columns as values in new columns 'totals' are identical.
print(pokemon['totals'])

0      318
1      405
2      525
3      625
4      309
      ...
795    600
796    700
797    600
798    680
799    600
Name: totals, Length: 800, dtype: int64

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

In [5]:
pokemon.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
totals         int64
dtype: object

In [6]:
data = [pokemon['Total'], pokemon['Type 1'], pokemon['Type 2']]
headers = ['Total','Type 1', 'Type 2']
pok_type = pd.concat(data, axis=1, keys = headers)
pok_type.head(10)

   Total Type 1  Type 2
0    318  Grass  Poison
1    405  Grass  Poison
2    525  Grass  Poison
3    625  Grass  Poison
4    309   Fire     NaN
5    405   Fire     NaN
6    534   Fire  Flying
7    634   Fire  Dragon
8    634   Fire  Flying
9    314  Water     NaN

In [7]:
pok_type.isna().sum()

Total       0
Type 1      0
Type 2    386
dtype: int64

In [8]:
# Dealing with NaN's 
# Dealing with the NaN's in Type 2. 
pok_type['Type 2'] = pok_type['Type 2'].fillna(pok_type['Type 1'])

In [9]:
pok_type.head(10)

   Total Type 1  Type 2
0    318  Grass  Poison
1    405  Grass  Poison
2    525  Grass  Poison
3    625  Grass  Poison
4    309   Fire    Fire
5    405   Fire    Fire
6    534   Fire  Flying
7    634   Fire  Dragon
8    634   Fire  Flying
9    314  Water   Water

In [10]:
# X-y Split (comes in handy as X is categorical variables only)
X = pok_type.drop(columns = ['Total'])
y = pok_type['Total']

In [11]:
display(X)

      Type 1  Type 2
0      Grass  Poison
1      Grass  Poison
2      Grass  Poison
3      Grass  Poison
4       Fire    Fire
..       ...     ...
795     Rock   Fairy
796     Rock   Fairy
797  Psychic   Ghost
798  Psychic    Dark
799     Fire   Water

[800 rows x 2 columns]

In [13]:
# Getting dummies for Type 1 and 2
# one_hot_data=pd.get_dummies(data[cat_cols], drop_first=True)
X_encoded = pd.get_dummies(data=X, drop_first=True)

In [14]:
X_encoded.head(10)

,Type 1_Dark,Type 1_Dragon,Type 1_Electric,Type 1_Fairy,Type 1_Fighting,Type 1_Fire,Type 1_Flying,Type 1_Ghost,Type 1_Grass,Type 1_Ground,...,Type 2_Ghost,Type 2_Grass,Type 2_Ground,Type 2_Ice,Type 2_Normal,Type 2_Poison,Type 2_Psychic,Type 2_Rock,Type 2_Steel,Type 2_Water
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [30]:
pok_data = pd.concat([y, X_encoded], axis=1)
# data=pd.concat([data, one_hot_data], axis=1)

In [31]:
pok_data.head(10)

,Total,Type 1_Dark,Type 1_Dragon,Type 1_Electric,Type 1_Fairy,Type 1_Fighting,Type 1_Fire,Type 1_Flying,Type 1_Ghost,Type 1_Grass,...,Type 2_Ghost,Type 2_Grass,Type 2_Ground,Type 2_Ice,Type 2_Normal,Type 2_Poison,Type 2_Psychic,Type 2_Rock,Type 2_Steel,Type 2_Water
0,318,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
1,405,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
2,525,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
3,625,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
4,309,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,405,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,534,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,634,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,634,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,314,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [43]:
pok_data.head(10)

,Total,Type 1_Dark,Type 1_Dragon,Type 1_Electric,Type 1_Fairy,Type 1_Fighting,Type 1_Fire,Type 1_Flying,Type 1_Ghost,Type 1_Grass,...,Type 2_Ghost,Type 2_Grass,Type 2_Ground,Type 2_Ice,Type 2_Normal,Type 2_Poison,Type 2_Psychic,Type 2_Rock,Type 2_Steel,Type 2_Water
0,318,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
1,405,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
2,525,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
3,625,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
4,309,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,405,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,534,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,634,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,634,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,314,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [44]:
corr=pok_data.corr()

In [46]:
corr.head(10)

,Total,Type 1_Dark,Type 1_Dragon,Type 1_Electric,Type 1_Fairy,Type 1_Fighting,Type 1_Fire,Type 1_Flying,Type 1_Ghost,Type 1_Grass,...,Type 2_Ghost,Type 2_Grass,Type 2_Ground,Type 2_Ice,Type 2_Normal,Type 2_Poison,Type 2_Psychic,Type 2_Rock,Type 2_Steel,Type 2_Water
Total,1.000000,0.017818,0.196532,0.016715,-0.026948,-0.029086,0.050527,0.029504,0.007594,-0.036057,...,-0.007118,-0.068150,-0.008558,0.081134,-0.065854,-0.093487,0.094214,-0.014810,0.080672,-0.054184
Type 1_Dark,0.017818,1.000000,-0.040984,-0.048438,-0.029584,-0.037524,-0.052938,-0.014233,-0.040984,-0.062173,...,0.040625,-0.056134,-0.050726,0.034207,-0.059708,-0.051286,-0.017110,-0.034544,0.034207,-0.063623
Type 1_Dragon,0.196532,-0.040984,1.000000,-0.049245,-0.030077,-0.038149,-0.053820,-0.014470,-0.041667,-0.063209,...,-0.035898,-0.057070,0.082729,0.067821,-0.060703,-0.052140,0.026020,-0.035119,-0.038149,-0.064683
Type 1_Electric,0.016715,-0.048438,-0.049245,1.000000,-0.035547,-0.045088,-0.063609,-0.017102,-0.049245,-0.074706,...,-0.010285,-0.046305,-0.060950,-0.014726,-0.031607,-0.061623,-0.075289,-0.041507,0.045999,-0.057407
Type 1_Fairy,-0.026948,-0.029584,-0.030077,-0.035547,1.000000,-0.027538,-0.038850,-0.010445,-0.030077,-0.045628,...,-0.025913,-0.041196,-0.037227,-0.027538,-0.043818,-0.037638,-0.045984,-0.025351,-0.027538,-0.046691
Type 1_Fighting,-0.029086,-0.037524,-0.038149,-0.045088,-0.027538,1.000000,-0.049277,-0.013248,-0.038149,-0.057873,...,-0.032868,-0.052252,-0.047218,-0.034929,-0.055578,-0.047739,0.014695,-0.032155,0.041733,-0.059222
Type 1_Fire,0.050527,-0.052938,-0.053820,-0.063609,-0.038850,-0.049277,1.000000,-0.018691,-0.053820,-0.081647,...,-0.046369,-0.073716,-0.002562,-0.049277,-0.041292,-0.067349,-0.046625,-0.015020,-0.021199,-0.065942
Type 1_Flying,0.029504,-0.014233,-0.014470,-0.017102,-0.010445,-0.013248,-0.018691,1.000000,-0.014470,-0.021951,...,-0.012467,-0.019819,-0.017910,-0.013248,-0.021081,-0.018107,-0.022123,-0.012196,-0.013248,-0.022463
Type 1_Ghost,0.007594,-0.040984,-0.041667,-0.049245,-0.030077,-0.038149,-0.053820,-0.014470,1.000000,-0.063209,...,0.338039,0.188921,-0.051571,-0.038149,-0.060703,0.054268,-0.063703,-0.035119,-0.038149,-0.064683
Type 1_Grass,-0.036057,-0.062173,-0.063209,-0.074706,-0.045628,-0.057873,-0.081647,-0.021951,-0.063209,1.000000,...,-0.054458,0.476384,-0.059607,0.015617,-0.092087,0.197630,-0.065528,-0.053277,-0.008880,-0.098125

In [45]:
corr.nlargest(5, ['Total'])

,Total,Type 1_Dark,Type 1_Dragon,Type 1_Electric,Type 1_Fairy,Type 1_Fighting,Type 1_Fire,Type 1_Flying,Type 1_Ghost,Type 1_Grass,...,Type 2_Ghost,Type 2_Grass,Type 2_Ground,Type 2_Ice,Type 2_Normal,Type 2_Poison,Type 2_Psychic,Type 2_Rock,Type 2_Steel,Type 2_Water
Total,1.000000,0.017818,0.196532,0.016715,-0.026948,-0.029086,0.050527,0.029504,0.007594,-0.036057,...,-0.007118,-0.068150,-0.008558,0.081134,-0.065854,-0.093487,0.094214,-0.014810,0.080672,-0.054184
Type 1_Dragon,0.196532,-0.040984,1.000000,-0.049245,-0.030077,-0.038149,-0.053820,-0.014470,-0.041667,-0.063209,...,-0.035898,-0.057070,0.082729,0.067821,-0.060703,-0.052140,0.026020,-0.035119,-0.038149,-0.064683
Type 1_Psychic,0.094364,-0.055611,-0.056538,-0.066820,-0.040812,-0.051765,-0.073029,-0.019634,-0.056538,-0.085769,...,-0.020225,-0.058699,-0.069977,-0.051765,-0.082368,-0.070749,0.562866,-0.047654,-0.051765,-0.087768
Type 2_Psychic,0.094214,-0.017110,0.026020,-0.075289,-0.045984,0.014695,-0.046625,-0.022123,-0.063703,-0.065528,...,-0.054883,-0.087252,-0.078846,-0.058325,-0.092807,-0.079716,1.000000,-0.053693,-0.058325,-0.098892
Type 1_Steel,0.082000,-0.037524,-0.038149,-0.045088,-0.027538,-0.034929,-0.049277,-0.013248,-0.038149,-0.057873,...,0.129441,-0.052252,0.011076,-0.034929,-0.055578,-0.047739,0.112057,0.092115,0.156725,-0.059222

In [ ]:
# Based on this Type Dragon  has the highest correlation with Total.

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [ ]:
# your code here